<h1>Pages#answer : Stupid coaching</h1>

<div id="ask">
  <p><%= params['question'] %></p>
  <p>- You</p>
</div>

<div id="answer">
  <p><%= @answer %></p>
  <p>- Coach</p>
</div>

<%= link_to "Poser une autre question", root_path %>
